<html>
    <head>
        <link rel="stylesheet" href="/styles/indexcss.css">
        <title>Authentication</title>
    </head>
    <body>
            <ul class="navbar">
                    <li><a href="/">Home</a></li>
                    <li>About</li>
                    <li class="right"><a href="register">Register</a></li>
                    
                </ul>
        <form method="post" >
            <div>
                <p>Enter your email</p>
                <input name="email" type = "email">
            </div>
            <div>
                <p>Enter your password</p>
                <input name = "password" type = "password">
            </div>
            <div>
                <button type = "submit">Login</button>
            </div>
        </form>
    </body>
</html>