<html>
    <head>
        <link rel='stylesheet' href="/styles/indexcss.css">
        <title>Register</title>
    </head>
<body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li>About</li>
            <li class="right"><a href="login">Login</a></li>
        </ul>
    <div class="form">
        <form method="post" >
            <div>
                <p>Enter your name</p>
                <input name = "name" type = "text">
            </div>
            <div>
                <p>Enter your email</p>
                <input name="email" type = "email">
            </div>
            <div>
                <p>Enter your password</p>
                <input name = "password" type = "password">
            </div>
            <div>
                <p>Confirm your password</p>
                <input name="confirmpassword" type = "password">
            </div>
            <div>
                <button type = "submit">Register</button>
            </div>
        </form>
    </div>
    </body>
    </html>